# shell aliases
# clear
alias clc="clear"
# vi to nvim
alias vi="nvim"
# go to projects dir
alias cdp="cd ~/Documents/Projects"
# git
alias gis="git status"
alias gif="git diff"
alias gitch="git switch"
# directory
alias la="ls -a"
# source .bashrc
alias sosh="source ~/.bashrc"
